<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>template</title>
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>

    TEMPLATE

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/public/client.js"></script>
    <script type="text/javascript">

    </script>
  </body>
</html>
